<div class="container p-3">
    <h1 class="text-danger text-center">Nuestras Clases</h1>

    <div class="d-flex justify-content-center gap-4 flex-wrap">
        <div *ngFor="let clase of clases" class="card bg-dark text-light p-4 text-center" style="width: 22rem; height: 180px;">
            <h3 class="text-danger">{{clase.titulo}}</h3>
            <p>{{clase.descripcion}}</p>
        </div>
    </div>

    <div>
        <h1 class="text-danger text-center mt-5">Horario de Clases</h1>
        <h5 class="text-light mb-4 text-center m-3">Consulta los horarios de nuestras clases y elige la que mejor se adapte a ti.</h5>
        
        <table class="schedule-table">
            <thead>
                <tr>
                    <th>Día</th>
                    <th>Horario</th>
                    <th>Tipo de Clase</th>
                    <th>Instructor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let horario of horarios">
                    <td>{{horario.dia}}</td>
                    <td>{{horario.horario}}</td>
                    <td>{{horario.tipoClase}}</td>
                    <td>{{horario.instructor}}</td>
                </tr>
            </tbody>
        </table>
    </div>
  
</div>
